body {
	margin:0;
	height: 100%; 
	overflow: hidden;
	position: relative;
	text-align: center;
	display:block;
}

#logo {
	z-index: 2;
	position:absolute;
	margin:80px auto;
	width:105px;
	left: 50%;
	margin-top:120px;
    transform: translate(-50%, -50%);
}

#title {
	color:white;
    position: absolute;
	text-align:center;
	z-index: 2;
    left: 50%;
	margin-top:40px;
    transform: translate(-50%, -50%);
	font-family: 'Luckiest Guy', cursive;
	font-size:30px;
}
.layout {
	position: absolute;
	z-index: 2;
	font-family: 'Luckiest Guy', cursive;
	left: 50%;
    transform: translate(-50%, -50%);
}

#am {
	font-size:25px;
	color:white;
	margin-top:240px;
}

#txtam {	 
	font-size:22px;
	color:white;
	margin-top:400px;
}

#share {
	font-size:19px;
	color:white;
	margin-top:195px;
	cursor: pointer;
	border-style:solid;
	border-width:1px;
	border-radius: 20px;
	padding-left:5px;
	padding-right:5px;
	background-color:#2AC9FA;
	border-color:#2AC9FA;
}

#txtget {
	font-size:14px;
	color:white;
	margin-top:540px;
}

#shtxt {
	font-size:22px;
	color:white;
	margin-top:250px;
}

#shlink {
	font-size:22px;
	color:white;
	margin-top:350px;
	background-color:2AC9FA;
	font-family:arial;
	padding:10px;
}

#button {
		  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	margin-top:310px;
	padding:15px;
	font-size:25px;
	color:white;
	background-color:#B448F0;
	cursor: pointer;
}

#get {
	margin-top:480px;
	padding:5px;
	font-size:25px;
	color:white;
	background-color:E98F5C;
	cursor: pointer;
}

#get:hover {
	background-color: #F9E36E;
	}

#get:active {
  background-color: #F9E36E;
}

#bg {
	width:100%;
	overflow:hidden;
	display:block;
	  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
	}

#bgm {
	display:none;
	  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}

/* mobile */

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
#bg {
	display:none;
}	

	#bgm {
	position: fixed;
	height:100%;
	overflow:hidden;
	display:block;
}
}
